.form-container{
    background-color: lightblue;
    padding: 30px;
    align-items: center;
    justify-content: center;
    
}
.search-form{
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.search-input{
    all:unset;
    height:40px;
    width:60%;
    background-color: white;
    color: black;
    font-size: 1.4rem;
    border-radius: 3px;
   margin: 10px;
   margin-top: 14px;
   padding-left: 20px;
}
.thumbnail{
    float: left;
    margin: 15px;
}
.button{
    display: flex-end;
    float: right;
}